#definir tamanho máximo de POST
php_value post_max_size 20M
php_value max_input_vars 10000
#configuração php
php_value upload_max_filesize 20M

php_value max_execution_time 300

#SetEnv ENVIRONMENT "local"
#SetEnv ENVIRONMENT "testing"
#SetEnv ENVIRONMENT "production"
#SetEnv ENVIRONMENT "homologation"
#
#
<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond $1 !^(index\.php|public|images|robots\.txt|css)

RewriteRule ^(.*)$ index.php/$1 [L]

</IfModule>


<IfModule mod_speling.c>
  CheckCaseOnly On
  CheckSpelling On
</IfModule>


